# Ignore all dot files except a few
.*
!.gitignore
!.dockerignore
!.gitattributes
!.env.example
!.env.dev.example
!.env.prod.example
!.github/
!.github/workflows/
!.github/workflows/*.yml
!.ruby-version
!apps/control_plane/.gitignore
!apps/control_plane/.dockerignore
!apps/control_plane/.rubocop.yml
!apps/control_plane/.rspec

# Python
__pycache__/
*.py[cod]
*$py.class

# Supervisor
supervisord.log
supervisord.pid

# Data (uploads and Traefik)
/data/
/logs/
/backups/

# Node
node_modules/
package-lock.json

# Ruby
.bundle/
vendor/bundle/

# Terraform
terraform.tfstate
terraform.tfstate.backup
